@if $theme == 'red' {
  $color-primary:             #000;
  $color-secondary:           #df0000;
  $color-success:             #00BB00;
  $color-warning:             #FFCC00;
  $color-danger:              #DF0000;
}