body {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: inherit;
  color: inherit;
}

h1, .h1 {
  font-size: $font-size-h1;
  font-weight: 300;
  border-bottom: 1px solid $color-gray-light;
  text-transform: uppercase;

  strong {
    text-transform: none;
    font-weight: 600;
  }
}

h2, .h2 {
  font-size: $font-size-h2;
  font-weight: 400;
}

h3, .h3 {
  font-size: $font-size-h3;
  font-weight: 600;
}

h4, .h4 {
  font-size: $font-size-h4;
  font-weight: 600;
}

h5, .h5 {
  font-size: $font-size-h5;
  font-weight: 600;
}

h6, .h6 {
  font-size: $font-size-h6;
  font-weight: 600;
}

