@import "../../../style/setup";

$label-color: $color-gray-dark !default;

.#{$namespace}label {
  display: inline;
  padding-bottom: .5rem;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: $label-color;
  white-space: nowrap;
  vertical-align: baseline;

  &:empty {
    display: none;
  }
}