@import "../../../style/setup";

.#{$namespace}list {
  $root: &;

  margin: 1rem 0;
  padding-left: 2rem;

  // List Item
  &__item {

  }

  &--unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--inline {
    padding-left: 0;
    margin-left: 0 - $padding-horizontal-small;
    list-style: none;

    #{$root}__item {
      display: inline-block;
      padding-left: $padding-horizontal-small;
      padding-right: $padding-horizontal-small;
    }
  }
}